
.project__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

.project__item {
    border-color: var(--color-primary-variant);
    background: transparent;

    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid var(--color-primary-variant);
    transition: var(--transition);
}

.project__item:hover {
    border-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    
}

.project__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.project__item h3 {
    margin: 1.2rem 0 2rem;
}


.project__item p {
    margin: 1.2rem 0 2rem;
}


.project__item-cta{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
}

/* tablets */
@media screen and (max-width: 1024px) {
    .project__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
  }
  
  /* phones */
  @media screen and (max-width: 600px) {
    .project__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
  }
