header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: start;
    height: 100%;
    position: relative;
}


.header__socials {
    display: flex;
    flex-direction: row;
margin-top: 2rem;
    gap: 1rem;

}

.icon:hover {
    transform: scale(1.5);

  }

.icon {
    width: 30px;
    height: 30px;
}

  @keyframes bounce-up-down {
    20% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(20px);
    }
  }

.my-img{
    width: 32rem;
    height: 45rem;
    position: absolute; right: 0; bottom: 0;
    transition-delay:.1s; 
    transition:.6s ease in;
    animation: imgFlyIn .5s linear;
}


@keyframes imgFlyIn{
    0% { transform:translateX(100%); }
    100% { transform:translateX(0%); }
}
  

.flyIn {
    color:#fff;
    position:relative;
  text-shadow: 2px 2px 40px rgba(0,0,0,0.7);
}
.lineOne {
  transition-delay:.3s; 
  transition:.3s ease in;
  animation: txtFlyIn .3s linear;
}
.lineTwo {
    transition-delay:.4s; 
    transition:.6s ease in;
    animation: txtFlyIn .5s linear;
}
.lineThree {
    transition-delay:.9s; 
    transition:.8s ease in;
    animation: txtFlyIn .9s linear;
}
.lineOne, .lineTwo, .lineThree {

    font-weight: bold;
    letter-spacing: 3px;
  }

@keyframes fadeIn{
    0% { opacity:0;}
    100% { opacity:1;}
}
@keyframes txtFlyIn{
    0% { transform:translateX(-100%); }
    100% { transform:translateX(0%); }
}
 
/* tablets */
@media screen and (max-width: 1024px) and (orientation: portrait){
    header {
        height: 90vh;
    }
    .my-img{
        width: 36rem;
        height: 47rem;
    }
  }
  
  /* phones */
@media screen and (max-width: 600px) and (orientation: portrait){
    header {
        height: 90vh;
    }

    .my-img{
        width: 20rem;
        height: 30rem;

    }
}

  /* phones in full screen mode*/
  @media screen and (max-width: 900px) and (orientation: landscape){
    header {
        height: 90vh;
    }

    .my-img{
        width: 23rem;
        height: 30rem;

    }
}
  /* super small phones */
  @media screen and (max-width: 375px) and (orientation: portrait){
    header {
        margin-top: -5rem;
        height: 100vh;
    }
    .my-img{
        width: 15rem;
        height: 20rem;
    }
    .scroll_down {
        display: none;
    }
}

  /* super small phones in full screen mode*/
  @media screen and (max-width: 700px) and (orientation: landscape){

    .my-img{
        width: 15rem;
        height: 20rem;
    }
    .scroll_down {
        display: none;
    }
}